.avisoManutencao {
  background-color: #E1DEDE;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 15px 15px 20px 0 rgba(50, 50, 50, 0.82);
  /*display: none;*/
  margin-top: 15%;
  padding: 70px;
  font-size: medium;
  text-align:justify;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  opacity: 0.8;
}

@media screen and (min-width: 900px) {
     .avisoFirefox {
      width: 90%;
    }
}

.mynav a:link, a:visited {
	text-decoration: none
	}
.mynav a:hover {
	text-decoration: underline; 
	color: #f00
	}
.mynav a:active {
	text-decoration: none
	}


.iframe_comprvante{
    width: 1000px ;
    height: 1000px;
}
.pesq_endereco{
    width: 500px;
}

.resp_endereco{
    width: 500px; 
    margin-left: 0px;
    display: none;
}

select[readonly] {
    background: #eee; 
    pointer-events: none;
    touch-action: none;
}

.footer_text{
    width:  500px;
    height: 62px;
    font-size: x-small;
    float: left;
    color: #01800C;
}

.footer_text_direito{
    width:  350px;
    height: 62px;
    white-space: normal;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    color: #01800C;
    font-size: x-small;
}

.guia_status {
    margin-top: 5px;
    background: green;
    width: 100%;
    height: 55.8px;
}

.guia_status_center {
    width: 60%;
    height: 58.8px;
    margin: auto;
}

.nav_bar_center {
     /*Reduzir o menu..*/ 
    width: 55%;
    height: 56px;
    background: #02CA74;
    margin: auto;
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 63%;
}

.nav_bar {
    width: 100%;
    height: 56px;
    background: #02CA74;
}

body {
    background: #fbfbfb;
}

.img_center_top {
/*    width: 100%;
    height: 253px;
    margin: auto;
    */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.img_header {
    width: 100%;
    height: 253px;
    background: #1B5C3C;
}

.img_center {
    width: 100%;
    height: 50px;
    margin: auto;
}

.footer {
    margin-top: 20px;
    width: 100%;
    height: 65px;
    background: #02CA74;
}

.conteiner1 {
    width: 1000px;
    min-height: 500px;
    margin: auto;
    color: #000;

}

.centr {
    width: 680px;
    margin: auto;
}

br.ajusta {
    display: none;
}

text#textoBotaoMobile {
    display: none;
}

.footer_medium{
    display: block;
}
.footer_mobile{
    display: none;
}  

.footer_center{
    width: 1000px;
    margin: auto;
}

.tituloMenuMobile {
    display: none;
}

@media screen and (max-device-width: 800px){
    /*select[readonly] {
        background: #eee; 
        pointer-events: none;
        touch-action: none;
    }
*/

    
    .tituloMenuMobile {
        display: flex;
    }

    .footer_text{
    width:  300px;
    height: 62px;
    font-size: x-small;
    float: left;
    color: #01800C;
    }

    .footer_medium{
        display: none;
    }

    .footer_mobile{
        display: block;
    }

    .guia_status {
        display: none;
    }

    .guia_status_center {
        width: 600px;
        height: 58.8px;
        margin: auto;
    }

    .nav_bar_center {
        width: 1000px;
        height: 56px;
        background: #02CA74;
        margin: auto;
    }

    .nav_bar {
        width: 100%;
        height: 56px;
        background: #02CA74;
    }

    .img_center_top {
        width: 1000px;
        height: 253px;
        margin: auto;
        display: none;
    }

    .img_header {
        display: none;
        width: 100%;
        height: 253px;
        background: #1B5C3C;
    }

    .img_center {
        width: 100%;
        height: 50px;
        margin: 0;
    }
    .conteiner1 {
        width: 100%;
        min-height: 50%;
        margin: auto;
        color: #000;

    }

    .centr {
        width: 100%;
        margin: auto;
    }


    br.ajusta {
        display: flex;
    }

   /*  p.textoFooter {
        font-size: x-small;
    } */

    div.col {
        padding-right: 0;
        padding-left: 0;
        width:100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.cadastrarEmLista {
        width: 100%;
    }

    text#textoBotaoMobile {
        display: flex;
        margin-left:0%;
        font-size: large;
    }

    text#textoBotaoDesktop {display: none;}

    .btnTelaLogin {
        width:80%;
        font-size:large;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgBanner {display: none;}

    .nav_bar_center {
        width: 100%;
        height: 56px;
        background: #02CA74;
        margin: auto;
    }

    .pesq_endereco{
        width: 300px;
    }
    
    .resp_endereco{
        width: 300px; 
        margin-left: 0px;
        display: none;
    }
   
    .row {
        width: 100%;
        margin-left: 0;
         
    }

    .col-10 {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .iframe_comprvante{
        width: 320px ;
        height: 450px;
        margin: auto;
    }
}

